body, h1, h2, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}


header {
    background-color: #007BFF;
    color: white;
    text-align: center;
    padding: 1rem;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo img {
    width: 50px;
    height: 50px;
}

header ul {
    list-style: none;
}

header li {
    display: inline;
    margin-right: 20px;
}

header a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}


main {
    padding: 2rem;
    text-align: center;
}

.hero {
    background-image: url(https://images.unsplash.com/photo-1691062810488-5c76e3836382?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80);
    background-size: cover;
    background-position: center;
    padding: 2rem;
    border-radius: 10px;
    color: white;
    text-align: center;
}

.todo-header {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    color: #007BFF;
    border-bottom: 2px solid #007BFF;
    padding-bottom: 10px;
}

.To-Do_List {
    list-style: none;
    padding: 0;
}

.task {
    background: #f5f5f5;
    border: 1 px solid #ccc;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
}

